<div *ngIf="loading">加载中...</div>
    
    <div *ngIf="!loading">
      <h2>用户列表</h2>
      <ul>
        <li *ngFor="let user of users">
          {{ user.name }} - {{ user.email }}
          <p-button icon="pi pi-users"  label="查看详情"  [rounded]="true" severity="help" (click)="showDetail(user.id)" size="small"></p-button>
        </li>
      </ul>
    </div>
    
    <div *ngIf="selectedUser">
      <h3>用户详情</h3>
      <p>ID: {{ selectedUser.id }}</p>
      <p>姓名: {{ selectedUser.name }}</p>
      <p>邮箱: {{ selectedUser.email }}</p>
    </div>
